@model IEnumerable<Cases>
@{
    ViewData["Title"] = "Cases";
}

<h1>Cases</h1>
<hr />

<a class="btn btn-outline-primary" asp-action="Create" asp-controller="Cases"><i class="bi bi-person-plus"></i> Create</a>
<hr />
@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        <i class="bi bi-exclamation-triangle"></i> No Cases Found
    </div>
}
else
{

    @foreach (var item in Model)
    {


        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4" style="min-height:200px; background-image:url(data:image\/*;base64,@(Convert.ToBase64String(item.PersonalImage))">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title"><span style="color:cadetblue">@Html.DisplayNameFor(m => item.Name):</span> @item.Name</h5>
                            <h5 class="card-title phone"><span style="color: cadetblue;">@Html.DisplayNameFor(m => item.PhoneNumber):</span> @item.PhoneNumber</h5>
                            <h5 class="card-title"><span style="color:cadetblue">@Html.DisplayNameFor(m => item.SocialStatusId):</span> @item.SocialStatusId</h5>
                            <p class="card-text text-justify">@(item.Feedback.Length > 650 ? $"{item.Feedback.Substring(0,650)}....": item.Feedback)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
 
}